// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main {
}

p {
  line-height:40px;
  font-size:12px;
  padding-left:20px;
}

h1 {
  font-size:26px;
}

span {
  font-weight: bold;
}